<header>
  <div (click)="toggleSideBar()" [ngClass]="{'hidden': !isOpen}" class="fixed z-40 bg-slate-700 opacity-25 h-full w-full"></div>
  <nav class="bg-white border-r lg:hidden border-b overflow-y-auto
  lg:sticky lg:flex-row lg:px-3 lg:py-3 lg:max-w-full lg:w-full">
    <div class="flex justify-between items-center mx-3 p-1 mb-2 lg:mb-0 space-y-1 lg:space-y-0">
      <div class="flex items-center space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-slate-900 hover:animate-spin" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M9.504 1.132a1 1 0 01.992 0l1.75 1a1 1 0 11-.992 1.736L10 3.152l-1.254.716a1 1 0 11-.992-1.736l1.75-1zM5.618 4.504a1 1 0 01-.372 1.364L5.016 6l.23.132a1 1 0 11-.992 1.736L4 7.723V8a1 1 0 01-2 0V6a.996.996 0 01.52-.878l1.734-.99a1 1 0 011.364.372zm8.764 0a1 1 0 011.364-.372l1.733.99A1.002 1.002 0 0118 6v2a1 1 0 11-2 0v-.277l-.254.145a1 1 0 11-.992-1.736l.23-.132-.23-.132a1 1 0 01-.372-1.364zm-7 4a1 1 0 011.364-.372L10 8.848l1.254-.716a1 1 0 11.992 1.736L11 10.58V12a1 1 0 11-2 0v-1.42l-1.246-.712a1 1 0 01-.372-1.364zM3 11a1 1 0 011 1v1.42l1.246.712a1 1 0 11-.992 1.736l-1.75-1A1 1 0 012 14v-2a1 1 0 011-1zm14 0a1 1 0 011 1v2a1 1 0 01-.504.868l-1.75 1a1 1 0 11-.992-1.736L16 13.42V12a1 1 0 011-1zm-9.618 5.504a1 1 0 011.364-.372l.254.145V16a1 1 0 112 0v.277l.254-.145a1 1 0 11.992 1.736l-1.735.992a.995.995 0 01-1.022 0l-1.735-.992a1 1 0 01-.372-1.364z" clip-rule="evenodd" />
        </svg>
        <a href="" class="uppercase hover:scale-110 transition-all
          duration-300 ease-out bg-gradient-to-r
          from-slate-900 to-slate-700 text-transparent
          bg-clip-text text-xl font-mono font-semibold"
        >
          Zoo Company
        </a>
        
      </div>
      <div class="">
        <button (click)="toggleSideBar()" class="navbar-burger flex text-slate-900 rounded-md
        hover:scale-110 transition-all duration-300 ease-out hover:bg-slate-300 p-1">
        <span class=" sr-only">Mobile menu closer</span>
        <svg class="block h-7 w-7 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
        </button>
      </div>
    </div>
  </nav>
  <nav [ngClass]="{'hidden': !isOpen}" class="fixed top-0 lg:!flex  z-50 left-0 bottom-0 flex-col w-5/6 max-w-md py-6 px-6 bg-white border-r border-b overflow-y-auto
   lg:sticky lg:flex-row lg:px-3 lg:py-3 lg:max-w-full lg:w-full">
   
    <div class="lg:max-w-screen-xl lg:w-full lg:mx-auto lg:flex items-center justify-between">
      <div class="flex justify-between mb-2 lg:mb-0 space-y-1 lg:space-y-0">
        <div class="flex items-center space-x-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-slate-900 hover:animate-spin" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M9.504 1.132a1 1 0 01.992 0l1.75 1a1 1 0 11-.992 1.736L10 3.152l-1.254.716a1 1 0 11-.992-1.736l1.75-1zM5.618 4.504a1 1 0 01-.372 1.364L5.016 6l.23.132a1 1 0 11-.992 1.736L4 7.723V8a1 1 0 01-2 0V6a.996.996 0 01.52-.878l1.734-.99a1 1 0 011.364.372zm8.764 0a1 1 0 011.364-.372l1.733.99A1.002 1.002 0 0118 6v2a1 1 0 11-2 0v-.277l-.254.145a1 1 0 11-.992-1.736l.23-.132-.23-.132a1 1 0 01-.372-1.364zm-7 4a1 1 0 011.364-.372L10 8.848l1.254-.716a1 1 0 11.992 1.736L11 10.58V12a1 1 0 11-2 0v-1.42l-1.246-.712a1 1 0 01-.372-1.364zM3 11a1 1 0 011 1v1.42l1.246.712a1 1 0 11-.992 1.736l-1.75-1A1 1 0 012 14v-2a1 1 0 011-1zm14 0a1 1 0 011 1v2a1 1 0 01-.504.868l-1.75 1a1 1 0 11-.992-1.736L16 13.42V12a1 1 0 011-1zm-9.618 5.504a1 1 0 011.364-.372l.254.145V16a1 1 0 112 0v.277l.254-.145a1 1 0 11.992 1.736l-1.735.992a.995.995 0 01-1.022 0l-1.735-.992a1 1 0 01-.372-1.364z" clip-rule="evenodd" />
          </svg>
          <a href="" class="uppercase hover:scale-110 transition-all
            duration-300 ease-out bg-gradient-to-r
            from-slate-900 to-slate-700 text-transparent
            bg-clip-text text-xl font-mono font-semibold"
          >
            Zoo Company
          </a>
          
        </div>
        <div class="lg:hidden">
          <button (click)="toggleSideBar()" class="navbar-burger flex text-slate-50 rounded-md
          hover:scale-110 transition-all duration-300 ease-out hover:bg-slate-300 p-1">
          <span class=" sr-only">Mobile menu closer</span>
          <svg class="h-8 w-8 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
          </button>
        </div>
      </div>
      <div>
        <div>
          <ul class="lg:flex lg:space-x-6 space-y-2 lg:space-y-0">
            <li class="hover:cursor-pointer">
              <a class="block px-4 py-4 lg:py-2 text-sm font-semibold text-slate-700 hover:bg-blue-50 hover:text-blue-600 rounded">Home</a>
            </li>
            <li class="hover:cursor-pointer">
              <a class="block px-4 py-4 lg:py-2 text-sm font-semibold text-slate-700 hover:bg-blue-50 hover:text-blue-600 rounded">About Us</a>
            </li>
            <li class="hover:cursor-pointer">
              <a class="block px-4 py-4 lg:py-2 text-sm font-semibold text-slate-700 hover:bg-blue-50 hover:text-blue-600 rounded">Projects</a>
            </li>
            <li class="hover:cursor-pointer">
              <a class="block px-4 py-4 lg:py-2 text-sm font-semibold text-slate-700 hover:bg-blue-50 hover:text-blue-600 rounded">Tools</a>
            </li>
            <li class="hover:cursor-pointer">
              <a class="block px-4 py-4 lg:py-2 text-sm font-semibold text-slate-700 hover:bg-blue-50 hover:text-blue-600 rounded">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-auto lg:mt-0">
				<div class="pt-6 lg:pt-0 lg:flex lg:space-x-2 space-y-2 lg:space-y-0">
					<a class="block px-4 py-3 lg:py-2 leading-loose text-sm text-center font-bold bg-gray-50 hover:bg-gray-200 hover:cursor-pointer rounded-lg">Sign in</a>
					<a class="block px-4 py-3 lg:py-2 leading-loose text-sm text-center text-white font-bold bg-blue-600 hover:bg-blue-700 hover:cursor-pointer rounded-lg">Sign Up</a>
				</div>
			</div>
      
    </div>
  </nav>
</header>