<div class="relative mt-12 lg:flex lg:space-x-10 xl:space-x-16">
  <div class="w-full lg:w-1/2 xl:w-2/5">
    <h3 class="text-xl font-semibold text-gray-800">Settings</h3>
    <p class="max-w-md mt-2 text-gray-500">Add the third color if needed and set the direction of the gradient if you are looking for a linear-gradients or radial-gradient.</p>
  </div>
  <div class="w-full mt-4 lg:w-1/2 xl:w-3/5 lg:mt-0">
    <div class="md:flex md:items-center md:space-x-4">
      <div class="md:w-1/2">
        <label class="font-medium text-gray-500">Via</label>
        <div class="relative w-full h-12 px-4 mt-2 font-medium text-gray-700 bg-white border border-gray-200 rounded-md focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-600 focus:ring-opacity-20" tabindex="0">
          <button (click)="ToggleSpecificDropdown(0)" class="flex items-center justify-between w-full h-full">
            <div class="flex items-center w-full h-full">{{ getViaOptionResponse().value| titlecase }}</div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 text-gray-700"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path></svg>
          </button>
          <div #viaOptionDropDown class="absolute hidden left-0 z-20 w-full py-2 mt-2 bg-white border border-gray-100 rounded-lg shadow-xl top-12 lg:left-auto lg:right-0">
            <div (click)="setViaOptionValue('inactive')" [ngClass]="{'bg-gray-100': isActiveViaOption('inactive')}" class="px-4 py-3 cursor-pointer hover:bg-gray-50 ">Inactive</div>
            <div (click)="setViaOptionValue('active')" [ngClass]="{'bg-gray-100': isActiveViaOption('active')}" class="px-4 py-3 cursor-pointer hover:bg-gray-50">Active</div>
          </div>
        </div>
      </div>
      <div class="mt-4 md:w-1/2 md:mt-0">
        <label class="font-medium text-gray-500">Direction</label>
        <div class="relative w-full h-12 px-4 mt-2 font-medium text-gray-700 bg-white border border-gray-200 rounded-md focus:border-indigo-500 focus:outline-none focus:ring focus:ring-indigo-600 focus:ring-opacity-20" tabindex="0">
          <button (click)="ToggleSpecificDropdown(1)" class="flex items-center justify-between w-full h-full">
            <div class="flex items-center w-full h-full">{{ getDirectionResponse().value | optionToFullText | titlecase }}</div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4 text-gray-700">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
            </svg>
          </button>
          <div #directionOptionDropDown class="absolute hidden left-0 z-20 w-full py-2 mt-2 bg-white border border-gray-100 rounded-lg shadow-xl top-12 lg:left-auto lg:right-0">
            <div (click)="setDirectionOptionValue('to-t')" [ngClass]="{'bg-gray-100': isActiveDirection('to-t')}" class="px-4 py-3 cursor-pointer hover:bg-gray-50">To Top</div>
            <div (click)="setDirectionOptionValue('to-tr')" [ngClass]="{'bg-gray-100': isActiveDirection('to-tr')}" class="px-4 py-3 cursor-pointer hover:bg-gray-50">To Top Right</div>
            <div (click)="setDirectionOptionValue('to-r')" [ngClass]="{'bg-gray-100': isActiveDirection('to-r')}" class="px-4 py-3 cursor-pointer hover:bg-gray-50">To Right</div>
            <div (click)="setDirectionOptionValue('to-br')" [ngClass]="{'bg-gray-100': isActiveDirection('to-br')}" class="px-4 py-3 cursor-pointer hover:bg-gray-50">To Bottom Right</div>
            <div (click)="setDirectionOptionValue('to-b')" [ngClass]="{'bg-gray-100': isActiveDirection('to-b')}" class="px-4 py-3 cursor-pointer hover:bg-gray-50">To Bottom</div>
            <div (click)="setDirectionOptionValue('to-bl')" [ngClass]="{'bg-gray-100': isActiveDirection('to-bl')}" class="px-4 py-3 cursor-pointer hover:bg-gray-50">To Bottom Left</div>
            <div (click)="setDirectionOptionValue('to-l')" [ngClass]="{'bg-gray-100': isActiveDirection('to-l')}" class="px-4 py-3 cursor-pointer hover:bg-gray-50">To Left</div>
            <div (click)="setDirectionOptionValue('to-tl')" [ngClass]="{'bg-gray-100': isActiveDirection('to-tl')}" class="px-4 py-3 cursor-pointer hover:bg-gray-50">To Top Left</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>