<!-- header configuration -->
<section>
  <article class="my-3 mx-3 rounded-xl shadow-sm max-w-full sm:max-w-xl md:max-w-2xl xl:max-w-6xl sm:mx-auto bg-white 
  px-2 font-semibold text-lg text-center">

  <!-- description -->
  <div class="my-2 space-y-2 mx-auto max-w-sm">
    <h2 class="text-slate-800 text-2xl sm:text-3xl font-bold">Make your style real</h2>
    <p class="font-normal text-slate-500">Choose tool, an option and start enjoy</p>
  </div>

    <!-- header control for service -->
    <div class="">
      <div class="flex justify-center space-x-1">
          <label for="background" class="cursor-pointer my-2 py-1 w-full hover:bg-slate-300 
          inline-block rounded-md has-[:checked]:bg-indigo-600 has-[:checked]:text-white">
            Background
            <input type="radio" class="hidden" name="services" id="background" checked="">
          </label>
          <label for="text" class="cursor-pointer my-2 py-1 w-full hover:bg-slate-300 
          inline-block rounded-md has-[:checked]:bg-indigo-600 has-[:checked]:text-white">
            Text
            <input type="radio" class="hidden" name="services" id="text">
          </label>
      </div>
    </div>

    <!-- divider -->
    <div class="mx-4 h-0.5 bg-gradient-to-r from-emerald-500 to-emerald-900"></div>

    <!-- header control for service option -->
    <div class="">
      <div class="flex justify-center space-x-1">
          <label for="custum" class="cursor-pointer my-2 py-1 w-full hover:bg-slate-300 
          inline-block rounded-md has-[:checked]:bg-indigo-600 has-[:checked]:text-white">
            Custum
            <input type="radio" class="hidden" name="service-option" id="custum" checked="">
          </label>
          <label for="random" class="cursor-pointer my-2 py-1 w-full hover:bg-slate-300 
          inline-block rounded-md has-[:checked]:bg-indigo-600 has-[:checked]:text-white">
            Random
            <input type="radio" class="hidden" name="service-option" id="random">
          </label>
          <label for="ready" class="cursor-pointer my-2 py-1 w-full hover:bg-slate-300 
          inline-block rounded-md has-[:checked]:bg-indigo-600 has-[:checked]:text-white">
            Ready
            <input type="radio"class="hidden"  name="service-option" id="ready">
          </label>
      </div>
    </div>
  </article> 
</section>