<div class="">
  <div class="flex bg-white max-w-screen-xl mx-auto mb-12 lg:mb-16" style="height:600px;">
      <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2">
          <div>
              <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">Build Your New <span class="text-indigo-600">Idea</span></h2>
              <p class="mt-2 text-sm text-gray-500 md:text-base">Create beautiful gradient color in tailwind CSS class for your website disign by using our tool made in tailwing for tailwind</p>
              <div class="flex justify-center items-center lg:justify-start mt-6">
                  <a class="px-4 py-3 bg-gradient-to-r from-violet-600 to-blue-500 text-gray-200 text-sm font-semibold rounded">bg gradient</a>
                  <a class="mx-4 px-4 py-3 bg-gray-300 bg-gradient-to-r from-violet-600 to-blue-500 bg-clip-text text-transparent text-xl font-semibold rounded hover:bg-gray-400">text gradient</a>
              </div>
          </div>
      </div>
      <div class="hidden lg:block lg:w-1/2" style="clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%)">
        <div class="h-full object-cover" style="background-image: url()">
            <div class="h-full bg-black opacity-25"></div>
        </div>
      </div>
  </div>
</div>
<!-- header configuration -->
<section>
  <article class="my-3 mx-3 border rounded-xl shadow-sm max-w-full sm:max-w-xl md:max-w-2xl xl:max-w-6xl sm:mx-auto bg-white 
  px-2 font-semibold text-lg text-center">
    <!-- header control for service -->
    <div class="">
      <div class="flex justify-center space-x-1">
        
        <div (click)="setToolName('bg')" for="background" class="cursor-pointer my-2 py-1 w-full hover:bg-slate-300 
          inline-block rounded-md has-[:checked]:bg-indigo-600 has-[:checked]:text-white">
          <span>
            Background
            <input type="radio" class="hidden"  name="services" id="background" [checked]="isActifTool('bg')">
          </span>
        </div>

        <div (click)="setToolName('text')" class="cursor-pointer my-2 py-1 w-full hover:bg-slate-300 
          inline-block rounded-md has-[:checked]:bg-indigo-600 has-[:checked]:text-white">
          <span>
            Text
            <input type="radio" class="hidden" name="services" id="text" [checked]="isActifTool('text')">
          </span>
        </div>

      </div>
    </div>

    <!-- divider -->
    <div class="mx-4 h-0.5 bg-gradient-to-r from-slate-700 to-blue-600"></div>

    <!-- header control for service option -->
    <div class="">
      <div class="flex justify-center space-x-1">

        <div (click)="setToolOption('custum')" for="custum" class="cursor-pointer my-2 py-1 w-full hover:bg-slate-300 
          inline-block rounded-md has-[:checked]:bg-indigo-600 has-[:checked]:text-white">
          <span>
            Custum
            <input type="radio" class="hidden" name="service-option" id="custum" [checked]="isActifOption('custum')">
          </span>
        </div>

        <div (click)="setToolOption('random')" for="random" class="cursor-pointer my-2 py-1 w-full hover:bg-slate-300 
          inline-block rounded-md has-[:checked]:bg-indigo-600 has-[:checked]:text-white">
          <span>
            Random
            <input type="radio" class="hidden" name="service-option" id="random" [checked]="isActifOption('random')">
          </span>
        </div>

        <div (click)="setToolOption('ready')" for="ready" class="cursor-pointer my-2 py-1 w-full hover:bg-slate-300 
          inline-block rounded-md has-[:checked]:bg-indigo-600 has-[:checked]:text-white">
          <span>
            Ready
            <input type="radio" class="hidden" name="service-option" id="ready" [checked]="isActifOption('ready')">
          </span>
        </div>

      </div>
    </div>
  </article> 
</section>